<div style="margin-top:15px;">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="txtOldPwd">旧密码</label>
            <div class="col-sm-9">
                <input type="password" id="txtOldPwd" placeholder="请输入旧密码" class="col-xs-10 col-sm-8"/>
            </div>
        </div>
        <div class="space-4"></div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="txtNewPwd">新密码</label>
            <div class="col-sm-9">
                <input type="password" id="txtNewPwd" placeholder="请输入新密码" class="col-xs-10 col-sm-8"/>
            </div>
        </div>
        <div class="space-4"></div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="txtNewPwdConfirm">确认新密码</label>
            <div class="col-sm-9">
                <input type="password" id="txtNewPwdConfirm" placeholder="再次输入新密码" class="col-xs-10 col-sm-8"/>
            </div>
        </div>
    </form>
</div>