<div class="row">
    <div class="tabbable">
        <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4">
            <li class="active">
                <a data-toggle="tab" href="#logs-login">登录日志</a>
            </li>

            <li>
                <a data-toggle="tab" href="#logs-ops">操作日志</a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="logs-login" class="tab-pane in active">
                <p>Raw denim you probably haven't heard of them jean shorts Austin.</p>
            </div>

            <div id="logs-ops" class="tab-pane">
                <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.</p>
            </div>
        </div>
    </div>
</div>
