<div class="page-header">
    <h1>机构管理</h1>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="widget-box">
            <div class="widget-body">
                <div class="widget-main padding-8">
                    <button class="btn btn-xs btn-primary">
                        <i class="ace-icon fa fa-plus bigger-110"></i>
                        添加机构
                    </button>
                    <button class="btn btn-xs btn-danger">
                        <i class="ace-icon fa fa-trash bigger-110"></i>
                        批量删除
                    </button>
                    <div class="space-4"></div>
                    <ul class="ztree" id="orgs-tree"></ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="widget-box widget-color-blue1">
            <div class="widget-body">
                <div class="widget-main padding-8">
                    <div id="orgs-form"></div>
                </div>
            </div>
        </div>
    </div>
</div>
